
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  font-family: "Open Sans";
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

body {
  overflow: hidden;
}

body.dark {
  background-color: #222;
}

.config {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-flow: column;
  min-width: 150px;
  border-radius: 0 0 10px 0;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;

  left: -191px;
  position: absolute;
  top: 0;
  z-index: 100;

  transition: all 250ms ease;
}

.config > * {
  margin: 5px 0;
}

.config.open {
  left: 0;

  transition: all 250ms ease;
}

.configButtonContainer {
  align-items: center;
  color: #BBB;
  cursor: pointer;
  display: flex;
  min-width: 45px;
  min-height: 45px;
  text-align: center;
  border-radius: 0 0 10px 0;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  transition: all 250ms ease;
}

.configButtonContainer.open {
  left: 190px;

  transition: all 250ms ease;
}

.configButtonContainer:hover, .configButtonContainer.open {
  color: #333;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  background-color: white;

  transition: all 250ms ease;
}

.configButtonContainer .configButton {
  flex: 1;

  transition: transform 250ms ease;
}

.configButtonContainer:hover .configButton, .configButtonContainer.open .configButton {
  transform: rotate(25deg);

  transition: transform 250ms ease;
}

#canvas {
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
}

.pointer {
  cursor: pointer;
}

.flexColumn {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.flexRow {
  max-width: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-flow: row nowrap;
}

.flexRow *, .flexColumn * {
  flex: 1;
}

.title {
  font-weight: bold;
  color: #333;
}

input.input {
  height: 16px;
  outline: none;
  border: 1px solid #BBB;
  text-align: center;
}

input.round {
  border-radius: 4px;
}

.btn {
  cursor: pointer;
  border: 1px solid #BBB;
  background-color: white;
  outline: none;
}

.btn:hover, .btn.active:hover {
  background-color: #DDD;
}

.btn.active {
  background-color: #CCC;
}

.btn:active {
  background-color: #BBB;
}

.blendRight {
  border-radius: 4px 0 0 4px;
}

.blendLeft {
  border-radius: 0 4px 4px 0;
}
